[submodule "AppName/vendor/spdlog"]
	path = AppName/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AppName/vendor/catch2"]
	path = AppName/vendor/catch2
	url = https://github.com/catchorg/Catch2
